<div class="row">
  <h1>PaypalOrder#show</h1>
  <p>Find me in app/views/paypal_order/show.html.erb</p>

  <%= @order.express_token %>
  <hr />
  <%= @order.id %>
  <hr />
  <%= @order.express_payer_id %>

  <h2>Success</h2>
</div>
