<div class="large-6 small-12 columns">
  <div class="paypal-one" id="paypal">
    <i class="fa fa-3x fa-paypal" aria-hidden="true"></i>
    <div class="paypal-button-one">
      <%= link_to image_tag("https://www.paypalobjects.com/webstatic/en_US/i/btn/png/silver-pill-paypal-44px.png"), paypals_path(@grouped_order) %>
    </div>
  </div>
</div>
