<div class="payment-method">
  <div class="large-12 columns align-middle">
    <div class="paypal-one-lonely" id="paypal-lonely">
      <div class="paypal-button-one">
        <%= link_to image_tag("https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_200x51.png", alt: "PayPal Logo"), paypals_path(@order) %>
      </div>
    </div>
  </div>
</div>
