<div class="payment-method">
  <div class="large-6 columns">
    <div class="card-hover">
      <h5 class="card-form card-hover-one">Credit Card</h5>
      <div class="cc-payment-one card-form card-hover-two">
        <i class="fa fa-4x fa-credit-card" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>

<div class="card-form hide-card-form">
  <%= form_tag stripes_post_path(@order), id: "payment-form" do %>
    <div class="input-group">
      <div class="form-row">
        <div id="card-element">
        </div>
        <div id="card-errors" role="alert"></div>
      </div>
      <div class="input-group-button">
        <button class="button card-submit-button">Submit Payment</button>
      </div>
    </div>
  <% end %>
</div>
