<div class="row">
  <h1>Orders I've Sold</h1>
  <table>
    <thead>
      <tr>
        <th>Order #</th>
        <th>
          Item Ordered
        </th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td>
            <%= order.product.name %>
          </td>
          <td><%= link_to 'Show', order %></td>
          <td><%= link_to 'Add Tracking Number', order %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
