<div class="home-top">
  <div class="row expanded">
    <div class="large-12 columns text-center">
      <div class="tag-line text-center">
        <h3><span>Find tackle easily. Sell tackle fast.</span></h3>
      </div>
      <div class="anlger-district">
        <span><h1>Anlger District</h1></span>
      </div>
    </div>
  </div>
</div>
