<div class="top-home-nav text-center">
  <div class="row">
    <div class="large-12 columns">
      <h1>Angler District</h1>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <h5>Find tackle easily. Sell tackle fast.</h5>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="home-find-sell">
        <%= link_to "Find Tackle", products_path, class: "custom-button", id: "main-btn" %>
        <%= link_to "Sell Tackle", new_product_path, class: "custom-button", id: "main-btn" %>
      </div>
    </div>
  </div>
  <br />
</div>
