<div class="top-home-nav text-center">
  <div class="row">
    <div class="large-12 columns">
      <%= image_tag("AD - logo - Yellow-01.png", class:"home-logo-img", alt: "Angler District", title: "Angler District Logo") %>
      <!--<h1>Angler District</h1>-->
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <h6 class="tag-line">Find tackle fast. Sell tackle fast.</h6>
      <h6 class="tag-line">Get back on the water.</h6>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="home-find-sell">
        <%= link_to "Find Tackle", products_path, class: "custom-button", id: "main-btn" %>
        <%= link_to "Sell Tackle", new_product_path, class: "custom-button", id: "main-btn" %>
      </div>
    </div>
  </div>
  <br />
</div>
