<div class="step">
  <div class="row">
    <div class="large-12 columns text-center">
      <h2 class="how-to-title">HOW TO SELL ON ANGLER DISTRICT</h2>
    </div>
  </div>
  <div class="row align-middle">
    <div class="large-3 small-12 columns text-center">
     <div id="outer-box">
       <%= image_tag("Number01.png") %>
       <div class="step-font" id="inner-box" style="width: 100%;">
         <p id="main"><span><i class="fa fa-user" aria-hidden="true"></i> REGISTER</span></p>
         <p id="second-line">Complete your Angler District account.</p>
       </div>
     </div>
    </div>
    <div class="hide-for-large hide-for-medium">
      <hr />
    </div>
    <div class="large-3 small-12 columns text-center">
      <div id="outer-box">
        <%= image_tag("Number02.png") %>
        <div class="step-font" id="inner-box" style="width: 100%;">
          <p id="main"><span><i class="fa fa-link" aria-hidden="true"></i> LINK YOUR </span><span>PAYMENT ACCOUNT</span></p>
          <p id="second-line">Don't have one? No worries, it is really easy and you are guided through everything and only have to do it once.</p>
        </div>
      </div>
    </div>
    <div class="hide-for-large hide-for-medium">
      <hr />
    </div>
    <div class="large-3 small-12 columns text-center">
      <div id="outer-box">
        <%= image_tag("Number03.png") %>
        <div class="step-font" id="inner-box" style="width: 100%;">
          <p id="main"><span><i class="fa fa-camera-retro" aria-hidden="true"></i> POST A PRODUCT</span></p>
          <p id="second-line">Take and upload photos of you porduct then fill out a few details.</p>
        </div>
      </div>
    </div>
    <div class="hide-for-large hide-for-medium">
      <hr />
    </div>
    <div class="large-3 small-12 columns text-center">
      <div id="outer-box">
        <%= image_tag("Number04.png") %>
        <div class="step-font" id="inner-box" style="width: 100%;">
          <p id="main"><span><i class="fa fa-money" aria-hidden="true"></i> GET DAT MONEY</span></p>
          <p id="second-line">So easy you can catch fish and make money at the same time.</p>
        </div>
      </div>
    </div>
  </div>
</div>
