<div class="step">
  <div class="row">
    <div class="large-12 columns text-center">
      <h2 class="how-to-title">HOW TO SELL STUFF ON ANGLER DISTRICT</h2>
    </div>
  </div>
  <div class="row align-middle">
    <div class="large-3 small-12 columns text-center">
      <div class="step-item" id="outer-box">
        <span class="number-icon">
          1
        </span>
        <div id="inner-box">
          <p><strong><i class="fa fa-user" aria-hidden="true"></i> Register</strong></p>
          <p>Complete your Angler District account.</p>
        </div>
      </div>
    </div>
    <div class="large-3 small-12 columns text-center">
      <div class="step-item" id="outer-box">
        <p class="number-icon">
          2
        </p>
        <div id="inner-box">
          <p><strong><i class="fa fa-link" aria-hidden="true"></i> Link Your</strong></p>
          <p><strong><i class="fa fa-cc-stripe" aria-hidden="true"></i> Account</strong></p>
          <p>Don't have one? No worries, it is really easy and you are guided through everything and only have to do it once.</p>
        </div>
      </div>
    </div>
    <div class="large-3 small-12 columns text-center">
      <div class="step-item" id="outer-box">
        <p class="number-icon">
          3
        </p>
        <div id="inner-box">
          <p><strong><i class="fa fa-camera-retro" aria-hidden="true"></i> Post A Product</strong></p>
          <p>Take and upload photos, and fill out info on it.</p>
        </div>
      </div>
    </div>
    <div class="large-3 small-12 columns text-center">
      <div class="step-item" id="outer-box">
        <p class="number-icon">
          4
        </p>
        <div id="inner-box">
          <p><strong><i class="fa fa-money" aria-hidden="true"></i> Get Dat Money</strong></p>
          <p>Show me the money!</p>
        </div>
      </div>
    </div>
  </div>
</div>
