<div class="row">
  <div class="large-10 large-offset-1 small-12 buyer-protection">
    <h1>
      Buyer Protection:
    </h1>
    <p>
      1. We work hard at making the process for both buyers and sellers as easy and simple as possbile. We strive to make the process lend to the most accurate item listings possbile.
    </p>
    <p>
      2. But, if there happens to be a discrepancy or issue with an item you receive, we will work directly with you and the seller to come to a resolution if there is a conflict.
    </p>
    <p>
      3. If a resolution can not be reached then we will work with you and the payment processors directly. If you received something different or in a condition other than what was presented in the product listing. A benefit to using Angler District will be the tranparency in what was presented to you as the product versus what you actually received.
    </p>
    <br />
    <p>
      You can always contect us at <a href="mailto:support@anglerdistrict.com?Subject=Support%20Email" target="_top">support@anglerdistrict.com</a>.
    </p>
    <p>
      <%= link_to "PayPal Buyer Protection", "https://www.paypal.com/us/webapps/mpp/paypal-safety-and-security" %>
    </p>
  </div>
</div>
