<div class="buyer-pro-top-image">
</div>

<div class="buyer-protection">
  <div class="row align-middle">
    <div class="large-3 large-offset-1">
      <%= image_tag("Buyer Protection Page 00-02.png", class: "buyer-pro-img") %>
    </div>
    <div class="large-7">
      <p>
        1. We work hard at making the process for both buyers and sellers as easy and simple as possbile. We strive to make the process lend to the most accurate item listings possbile.
      </p>
    </div>
  </div>
  <br />
  <div class="row align-middle">
    <div class="large-3 large-offset-1">
      <%= image_tag("Buyer Protection Page 01-02.png", class: "buyer-pro-img") %>
    </div>
    <div class="large-7">
      <p>
        2. But, if there happens to be a discrepancy or issue with an item you receive, we will work directly with you and the seller to come to a resolution if there is a conflict.
      </p>
    </div>
  </div>
  <br />
  <div class="row align-middle">
    <div class="large-3 large-offset-1">
      <%= image_tag("Buyer Protection Page-02-02.png", class: "buyer-pro-img") %>
    </div>
    <div class="large-7">
      <p>
        3. If a resolution can not be reached then we will work with you and the payment processors directly. If you received something different or in a condition other than what was presented in the product listing. A benefit to using Angler District will be the tranparency in what was presented to you as the product versus what you actually received.
      </p>
    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="large-12 text-center">
      <h5>
        You can always contact us at <a href="mailto:support@anglerdistrict.com?Subject=Support%20Email" target="_top">support@anglerdistrict.com</a>.
      </h5>
      <p>
        <strong><%= link_to "Click here", "https://www.paypal.com/us/webapps/mpp/paypal-safety-and-security" %></strong> to read about PayPal Buyer Protection
      </p>
    </div>
  </div>
  <br />
</div>
