<div class="faq-top-image">
  <h3 class="text-center faq-title">FAQ's</h3><!--<%= image_tag("FAQs Background Image-01.png", class:"faq-image") %>-->
</div>

<div class="row">
  <div class="large-6 small-12 faq">
    <ul class="accordion" data-accordion data-allow-all-closed="true">
      <li class="accordion-item is-active" data-accordion-item>
        <a href="#" class="accordion-title"><h4>What is Angler District?</h4></a>
        <div class="accordion-content" data-tab-content>
          <p>Angler District is a fast growing community of anglers on the web. It's a one-stop resource that helps anglers learn about, compare, and find the tackle that's right for them at a fair price, and a simple platform for private sellers and dealers to sell gear fast.</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><h4>Does Angler District have an app?</h4></a>
        <div class="accordion-content" data-tab-content>
          <p>Not yet. But be we are developing it right now and plan on rolling it out as soon as we can. If you create an account we will update our users on products and features that we release.</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><h4>Can I trade my gear on Angler District?</h4></a>
        <div class="accordion-content" data-tab-content>
          <p>Angler District essentially makes trades unnecessary. Instead, we suggest simply selling your gear and using those funds to purchase anything you want. This is an easier way to get the new gear you want fast, instead of searching among thousands of sellers for someone who's interested.</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><h4>How do I reset my password?</h4></a>
        <div class="accordion-content" data-tab-content>
          <p>If you are logged into your account and wish to change your password, you may do this from your Settings page.</p>
          <p>
            If you're still having trouble resetting your password, please contact us at <a href="mailto:support@anglerdistrict.com?Subject=Support%20Email" target="_top">support@anglerdistrict.com</a>.
          </p>
          <p>
            Passwords cannot be reset via phone or live chat for security reasons.
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="large-6 small-12 faq">
    <ul class="accordion" data-accordion data-allow-all-closed="true">
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><h4>What types of payment can I accept as a seller on Angler District?</h4></a>
        <div class="accordion-content" data-tab-content>
          <p>You can accept PayPal and all major credit cards through Stripe. (Applicable payment processing fees apply.)</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><h4>Can I list new items on Angler District?</h4></a>
        <div class="accordion-content" data-tab-content>
          <p>Absolutely. While many Angler District sellers focus on used gear, we gladly accept listings for new instruments and equipment as long as the seller adheres to all our listing standards.</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><h4>Can I use stock images for my listings?</h4></a>
        <div class="accordion-content" data-tab-content>
          <p>We strongly discourage the use of stock images, but allow their usage only on items listed as "Brand New" from authorized dealers. Stock or non-original images are prohibited on listings for used instruments and gear.</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><h4>How do I know what to put for condition?</h4></a>
        <div class="accordion-content" data-tab-content>
          <p>We are constantly working on providing the best and simplest experience for both buyers and sellers. We will be releasing guides to help sellers best qualify their tackle.</p>
        </div>
      </li>
    </ul>
  </div>
</div>
