<div class="how-to-top-image">
  <h3 class="text-center how-to-page-title">FEES</h3><!--<%= image_tag("FAQs Background Image-01.png", class:"faq-image") %>-->
</div>


<div class="row">
  <div class="large-10 large-offset-1 small-12 fees">
    <h4>Why do we take a fee?</h4>
    <p>
      <span>We don't do anything with your information. We don't have some crazy complicated scheme to make money. We want to provide a simple, straightforward, and valuable service. Even though we charge a fee, Angler District is a cheaper option than Ebay and other services out there.</span>
    </p>
    <p>
      <span>There is no fee for posting items. You can post as many items as you want. We will, from time to time, try and clear out older postings in an effort to provide the best experience for buyers and sellers.</span>
    </p>
    <h4>Angler District Fee: 4%</h4>
    <p>
      <span>Angler District will take a 4% fee of the total (price of item and any applicable fees) charged amount on the sell of a product.</span>
    </p>
    <h4>Payment Processing Fee: 2.9% + $.30 / per transaction</h4>
    <p>
      <span>There isn't much that we can do about this. However as we grow we hope to be able to lower these costs.</span>
    </p>
  </div>
</div>
