<%= render 'pages/home_nav' %>

<%= render 'pages/home_search_bar' %>

<br />

<div class="row">
  <div class="medium-4 columns">
    <div class="card">
      <div class="image">
        <img src="http://static.pexels.com/wp-content/uploads/2014/07/alone-clouds-hills-1909-527x350.jpg">
        <span class="title">Freshwater Fishing</span>
      </div>
      <div class="content">
        <p>I shall be telling this with a sigh	. Somewhere ages and ages hence:	 Two roads diverged in a wood, and I —	 I took the one less traveled by.	 And that has made all the difference.</p>
      </div>
      <div class="action">
        <a href='#'>Where this leads</a>
      </div>
    </div>
  </div>
  <div class="medium-4 columns">
    <div class="card">
      <div class="image">
        <img src="http://static.pexels.com/wp-content/uploads/2014/07/alone-clouds-hills-1909-527x350.jpg">
        <span class="title">Saltwater Fishing</span>
      </div>
      <div class="content">
        <p>I shall be telling this with a sigh	. Somewhere ages and ages hence:	 Two roads diverged in a wood, and I —	 I took the one less traveled by.	 And that has made all the difference.</p>
      </div>
      <div class="action">
        <a href='#'>Where this leads</a>
      </div>
    </div>
  </div>
  <div class="medium-4 columns">
    <div class="card">
      <div class="image">
        <img src="http://static.pexels.com/wp-content/uploads/2014/07/alone-clouds-hills-1909-527x350.jpg">
        <span class="title">Inshore Fishing</span>
      </div>
      <div class="content">
        <p>I shall be telling this with a sigh	. Somewhere ages and ages hence:	 Two roads diverged in a wood, and I —	 I took the one less traveled by.	 And that has made all the difference.</p>
      </div>
      <div class="action">
        <a href='#'>Where this leads</a>
      </div>
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class="medium-4 columns">
    <div class="card">
      <div class="image">
        <img src="http://static.pexels.com/wp-content/uploads/2014/07/alone-clouds-hills-1909-527x350.jpg">
        <span class="title">Fly Fishing</span>
      </div>
      <div class="content">
        <p>I shall be telling this with a sigh	. Somewhere ages and ages hence:	 Two roads diverged in a wood, and I —	 I took the one less traveled by.	 And that has made all the difference.</p>
      </div>
      <div class="action">
        <a href='#'>Where this leads</a>
      </div>
    </div>
  </div>
  <div class="medium-4 columns">
    <div class="card">
      <div class="image">
        <img src="http://static.pexels.com/wp-content/uploads/2014/07/alone-clouds-hills-1909-527x350.jpg">
        <span class="title">General Accessories</span>
      </div>
      <div class="content">
        <p>I shall be telling this with a sigh	. Somewhere ages and ages hence:	 Two roads diverged in a wood, and I —	 I took the one less traveled by.	 And that has made all the difference.</p>
      </div>
      <div class="action">
        <a href='#'>Where this leads</a>
      </div>
    </div>
  </div>
  <div class="medium-4 columns">
    <div class="card">
      <div class="image">
        <img src="http://static.pexels.com/wp-content/uploads/2014/07/alone-clouds-hills-1909-527x350.jpg">
        <span class="title">Electronics</span>
      </div>
      <div class="content">
        <p>I shall be telling this with a sigh	. Somewhere ages and ages hence:	 Two roads diverged in a wood, and I —	 I took the one less traveled by.	 And that has made all the difference.</p>
      </div>
      <div class="action">
        <a href='#'>Where this leads</a>
      </div>
    </div>
  </div>
</div>
