<%= render 'pages/steps' %>

<div class="row">
  <div class="large-10 large-offset-1 small-12 selling-info">
    <h2>
      Selling
    </h2>
    <p>
      Our goal is to make the process as simple as possible for sellers. There is a small amount of simple, initial set up, but after that it is as simple as taking pictures, submitting the product and letting us do the rest of the work for you. We provide links for you to share your product listing through social media to help sell your item faster.
    </p>
    <h2>
      Resources
    </h2>
    <p>
      We will always be looking at ways to improve the process and make things even easier and simpler for both buyers and sellers. We provide a <%= link_to "Tackle Condition Guide", tackle_condition_guide_path %> to help you get items posted faster, easier and accurately so your items sell quickly.
    </p>
    <h2>
      Getting Paid
    </h2>
    <p>
      We wanted to provide easy ways for you to receive your money and also some flexibility in payment options for buyers. Payment options for buyers, should you choose to provide options, gives your potential buyers less reasons to not purhcase something from you. We offer PayPal and Stripe as ways for you to receive money. Once you have sold an item you can easily log into you respective account and get the money transferred to your bank account. If you already have a paypel account indicate that on your user profile. If want to accept money from major credit cards we provide that capability through Stripe. There is a button on your user profile that will walk you through setting up an account with them. It is a simple process. Once you do that we know that you want to be able to offer credit cards as a payment options for item that you post. Both payment options have payment processing fees of 2.9% + $.30 per transaction.
    </p>
  </div>
</div>
