<div class="tackle-condition-top">
  <span>Tackle Condition Guide</span>
</div>

<div class="row">
  <div class="large-10 large-offset-1 small-12 tackle-condition">

    <h3>Tackle/Gear Conditions And What They Mean</h3>

    <p>
      So you've taken some great photos, written the best description you can. But how do I know which "Condition" to chose?
    </p>

    <p>
      Thats what we are here for! In an effort to make the selling process as painless and simple as possbile Angler District has seven different designations to describe the condition, from Brand New on the top all the way down to Non-functioning. Think of it as a 1 to 9 scale. We've put together some general guidelines to explain what each condition means and to help you find the right category for your tackle.
    </p>
    <br />

    <h4>8. Brand New: </h4>
    <p>
      These would be products that are in the box as received from the manufacturer. Only authorized dealers are permitted to sell an item as Brand New. If you're reselling a piece of tackle or apparel that you bought brand new from a retailer—even if it has never been used—it automatically falls under the Mint condition.
    </p>

    <h4>7. Mint: </h4>
    <p>
      For something to truly be mint, it needs to be just shy of Brand New. Mint items should include the original packaging in most cases. If there's any sort of imperfection, the item should be listed in Excellent condition at best.
    </p>

    <h4>6. Excellent: </h4>
    <p>
      When something's been used a bit but is still close to new, you can file it under Excellent. For newer tackle, Excellent items should be free from blemishes and other visual defects. For vintage items, there maybe some marks here and there, but the item is still in the top echelon when compared to similar examples.
    </p>

    <h4>5. Very Good: </h4>
    <p>
      Very Good describes items with perhaps a few more cosmetic imperfections than Excellent but is still in great condition overall. With a Very Good reel, for example, you might find some scratches, ware, or other minor blemishes but nothing that affects the functionality of the product.
    </p>

    <h4>4. Good: </h4>
    <p>
      Good condition includes items that are in fine working order but have some visual imperfections here and there. A reel with scratches and dents on its rotor, a rod with some minor cracks in the handle, or maybe a depth finder with some minor scratches on the screen could all be classified as Good. All of these items work just fine but have enough visual imperfections to only be in the middle of the scale.
    </p>

    <h4>3. Fair: </h4>
    <p>
      This would be where the various nicks and blemishes start to actually impact the function of the item. Fair items mostly work fine but maybe have some minor functional issues. Say you've got some cracks in the rod tip or line rollers. This could be considered Fair.
    </p>

    <h4>2. Poor: </h4>
    <p>
      Poor condition items have definite functional problems that will usually require some sort of repair. Perhaps this is an old rod where a guide has broken off. Maybe it's a reel with some major corrision that impedes the performance. It could be a bail spring that has severe trouble flipping back open.
    </p>

    <h4>1. Non-Functioning: </h4>
    <p>
      This would be for tackle that simply do not work. It could be a crankbait with a missing lip, maybe a rod thats missing some eyes or a reel that has a broken handle. Keep in mind, there are still plenty of buyers out there who are in the market for project tackle and other fixer-upper items.
    </p>
    <hr />
    <h4>Other Condition Considerations: </h4>
    <p>
      Condition and the factors that determine it are, of course, contingent on the type of tackle you're talking about. A reels that are functioning perfectly but may have a scratch is different than lures that may have a blemish because performance could be afffected differently. It's important to keep in mind that it's all relative.
    </p>
    <p>
      And of course, if there's any uncertainty, you can always take more pictures and write more detailed descriptions to cover your bases.
    </p>
  </div>
</div>
