<div class="row text-center profile-page">
  <h2>You are editing your profile.</h2>
</div>

<div class="row">
  <div class="user-p-form">
    <%= render 'form', :locals => {:controller => 'user_profiles', :action => 'update'} %>
  </div>
</div>
