/*
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
*/

@import "foundation_and_overrides";

@import url(//fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900);

// colors???????
// #2c3e50
// #d35400
// #7f8c8d
// #ecf0f1

html {
  position: relative;
  min-height: 100%;
}

body, html {
  height: auto;
}

body {
  margin-bottom: 22rem;
  //footer//
  display: block;
  background-color: #ecf0f1;
}

.title-bar {
  background: #2c3e50;
  color: #ecf0f1;
}

.title-bar a {
  color: #ecf0f1;
}

.custom-row {
  padding-left: 20px;
  padding-right: 20px;
}

.footer-space {
  height: 6em;
  background-color: white;
}

.cat-image {
  max-width: 338px;
  max-height: 300px;
}

.callout.secondary {
  background-color: #2199E8;
}

.general-footer {
  background-color: #2c3e50;
}

.callout {
  border-radius: 10px;
}

.full-width {
  width: 100%;
  background-color: #d35400;
}
