/*
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
*/

@import "foundation_and_overrides";
@import "font-awesome";
@import "topbar";

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@font-face {
  font-family: "Cooper Hewitt Bold";
  src: font-url('CooperHewitt-Bold.otf') format("opentype");
}
@font-face {
  font-family: "Cooper Hewitt Heavy";
  src: font-url('CooperHewitt-Heavy.otf') format("opentype");
}
@font-face {
  font-family: "Cooper Hewitt Light";
  src: font-url('CooperHewitt-Light.otf') format("opentype");
}
@font-face {
  font-family: "Cooper Hewitt Medium";
  src: font-url('CooperHewitt-Medium.otf') format("opentype");
}
@font-face {
  font-family: "Cooper Hewitt Semibold";
  src: font-url('CooperHewitt-Semibold.otf') format("opentype");
}
@font-face {
  font-family: "Cooper Hewitt Thin";
  src: font-url('CooperHewitt-Thin.otf') format("opentype");
}

// colors
$midnight-blue: #2c3e50;
$red: #D0011B;
$dark-gray: #7f8c8d;
$kinda-white: #ecf0f1;
$light-gray: #BDC3C7;
$yellow: #f1c40f;

html {
  position: relative;
  min-height: 100%;
}

body, html {
  height: auto;
}

body p {
  font-family: 'Cooper Hewitt Semibold';
}

body a {
  font-family: 'Montserrat', sans-serif;
}

body h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

body h1, h2 {
  font-family: 'Oswald', sans-serif;
}

body {
  // margin-bottom: 22rem;
  // footer//
  display: block;
  background-color: $kinda-white;
  margin-bottom: 10rem;
}

.tag-line {
  color: #FFFFEC;
  padding: .5rem;
}

.tag-line h3 span {
  background-color: #9DC7B9;
  padding: 4px;
}

.search-bar-button {
  margin: 0;
  background: #7f8c8d;
  border: 2px solid;
  border-radius: 5px;
  border-color: #7f8c8d;
  padding: 10px;
  $background-hover: #2c3e50;
  margin-left: 8px;
  margin-right: 8px;
}

.input-group input {
  margin-bottom: 0;
}

// @include button-style($background, $background-hover, $color);

.home-search-button {
  background: #2c3e50;
  margin: 0;
  width: 100%;
  padding: .255rem;
  height: 100%;
  border-radius: 0px 6px 6px 0px;
}

.home-search-input {
  border-radius: 6px 0px 0px 6px;
}

input[type=search] {
  -webkit-appearance: none;
  -webkit-border-radius: 6px 0px 0px 6px;
}

.top-bar a {
  color: #ecf0f1;
}

.nav-link a:hover {
  color: #f1c40f;
  border: none;
  background: #2c3e50;
}

.nav-link {
  margin-right: .5rem;
}

.words, .menu-text {
  background: #2c3e50;
}

.nav-logo {
  background: #2c3e50;
  max-height: 38px;
  width: 38px;
}

.logo {
  height: 100%;
  width: 100%
}

.menu > li {
  background: #2c3e50;
}

.custom-row {
  padding-left: 20px;
  padding-right: 20px;
}

.cat-image {
  max-width: 338px;
  max-height: 300px;
}

.item {
  margin-bottom: 1rem;
}

.grid {
  background: #EEE;
  max-width: 1200px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */
.grid-item {
  width: 275px;
  float: left;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  margin-right: 4px;
  margin-bottom: 4px;
  color: #2c3e50;
  background-color: #7f8c8d;
}

.home-page-product {
  padding-left: 3px;
}

.search-button {
  border-radius: 5px;
  background-color: purple;
}

.card {
  background-color: #7f8c8d;
  margin-bottom: 15px;
}

.main-cat-image {
  height: 250px;
  width: 250px;
}

#purchase-button {
  text-align: center;
}

.flash-at {
  width: 100%;
  background: #ECF0F1;
}

.flash-nt {
  width: 100%;
  background: #2c3e50;
}

#flash_notice, #flash_alert {
  max-width: 75%;
  margin: auto;
  color: gold;
  background: #f1c40f;
  padding: 8px;
  font-size: 108%;
  font-weight: bold;
  border-radius: 5px;
}

#flash_alert {
  margin-top: 3px;
}

.nav-logo {
  width: 120px;
  margin-top: 4px;
}

.top-bar-title {
  padding: 0;
}
