#mycart {
  .scale {
    position: relative;
    top: 35%;
    transform: translateY(-35%);
  }
  .fi-x {
    position: relative;
    top: 10px;
    right: -5px;
  }
}

#paypal-button:hover {
  background: #ECF0F1;
  opacity: .8;
}

.cart-box {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  span {
    display: inline-block;
    padding-left: 2rem;
    padding-top: 4.5px;
    // padding-right: 3rem;
    vertical-align: middle;
  }
  a:visited {
    color: #2c3e50;
  }
  color: #2c3e50;
}

.cart-button {
  span {
    padding: 0px;
  }
  a {
    color: white;
  }
}

.cart-sum {
  background: #A9A9A9;
  border-radius: 10px;
  color: #2c3e50;
  // height: 200px;
  p {
    margin-bottom: 0;
  }
  @media only screen and (max-width: 40em) {
    margin-bottom: 12rem;
  }
}

.first-cart-sum {
  margin-top: 5px;
  text-decoration: underline;
}

#purchase-button {
  background: #f1c40f;
  padding: .65rem;
  color: #2c3e50;
  border-radius: 5px;
  span {
    padding: 0px;
    padding-bottom: 4px;
  }
}

.payment-options {
  margin-top: 16px;
  margin-bottom: 0;
}

#purchase-button:hover {
  color: #ecf0f1;
  background-color: #2c3e50;
}

.checkout-button {
  width: 100%
}

#checkout-button {
  background: #2c3e50;
  color: #f1c40f;
  border-radius: 5px;
  margin-top: 16px;
  padding: 1.25rem;
  font-size: 140%;
}

#checkout-button:hover {
  text-decoration: underline;
}

// #title-link:hover {
//   color: #f1c40f;
//   background: #fff;
//   text-decoration: underline;
// }
