$midnight-blue: #2c3e50;
$red: #D0011B;
$dark-gray: #7f8c8d;
$kinda-white: #ecf0f1;
$light-gray: #BDC3C7;
$yellow: #f1c40f;

.footer {
  position: absolute;
  bottom: 0;
  // text-align: center;
  width: 100%;
  height: 11rem;
  padding-top: 1rem;
}

.footer a {
  color: #ecf0f1;
}

.footer a:visited {
  color: #ecf0f1;
}

.footer a:hover {
  text-decoration: underline;
  color: $yellow;
  background: #7f8c8d;
}

.bottom-footer {
  background: #2c3e50;
  width: 100%;
  color: #ecf0f1;
  padding-top: .4rem;
  padding-bottom: .4rem;
}

.bottom-footer a:hover {
  text-decoration: underline;
  color: $yellow;
  background: $midnight-blue;
}

.top-footer {
  background: #7f8c8d;
  color: #ecf0f1;
  padding-top: .8rem;
  // padding-bottom: .3rem;
}

.footer-title {
  text-decoration: underline;
  font-size: 150%;
  font-family: 'Cooper Hewitt Semibold';
  color: $midnight-blue;
}

.social a {
  color: $kinda-white;
}

.social a:hover {
  color: $yellow;
}

.text-footer {
  padding-top: 8px;
}
