.footer {
  position: absolute;
  // bottom: 0;
  // text-align: center;
  width: 100%;
}

.footer a {
  color: #ecf0f1;
}

.footer a:hover {
  color: #f1c40f;
}

.bottom-footer {
  background: #2c3e50;
  width: 100%;
  color: #ecf0f1;
  padding-top: .4rem;
  padding-bottom: .4rem;
}

.top-footer {
  background: #7f8c8d;
  color: #ecf0f1;
  padding-top: .3rem;
  padding-bottom: .3rem;
}
