.home-search-bar {
  background: #f1c40f;
  margin: 0;
  padding-top: .4rem;
  padding-bottom: .4rem;
}

.home-search-bar-input {
  height: 40px;
}

.search-button {
  $background-hover: #f1c40f;
}

#search-button {
  border-radius: 0px 5px 5px 0px;
  background: #2c3e50;
}

#search-input {
  border-radius: 5px 0px 0px 5px;
}

// $button-background: #2c3e50;
// $button-background-hover: scale-color($button-background, $lightness: -15%);
