.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #BEC3C6;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.side-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: #f1f1f1;
}

.side-nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .side-nav {
    padding-top: 15px;
  }
  .side-nav a {
    font-size: 18px;
  }
}

.top-bar .side-nav a:hover {
  background-color: #BEC3C6;
}

.top-bar .side-nav span:hover {
  text-decoration: none;
  background-color: #BEC3C6;
  color: #E9C547;
}

.closebtn {
  cursor: pointer;
  color: #303E4F;
}

.mobile-menu-btn {
  float: right;
}
