<div class="row text-center">
  <h1>Add a New Product Listing</h1>
</div>

<div class="row">
  <%= render 'form', product: @product %>
</div>

<div class="row">
  <%= link_to 'Back To My Listed Products', all_user_products_path, class:"button" %>
</div>
