<div data-sticky-container>
  <div class="title-bar" data-sticky data-options="marginTop: 0; stickyOn: small;">
    <div class="title-bar-left">
      <div id="main">
        <span class="logo-menu" id="ham-menu" onclick="openNav()">&#9776;</span>
        <span style="font-size:45px;cursor:pointer;display:none" id="close-menu" onclick="closeNav()">&times;</span>
        <%= link_to root_path do %>
          <span class="logo-menu" id="logo-name">Angler District</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
